/build/
__pycache__/
cairo-lang-*.zip
/.vscode/

simple_bootloader_trace.json
simple_bootloader_memory.json
simple_bootloader.json
simple_bootloader_input.json

cairo_verifier_trace.json
cairo_verifier_memory.json
cairo_verifier.json
cairo_verifier_input.json